In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.DataFrame({0: [0, 1, 1, 0, 1], 
                   1: [1, 1, 0, 1, 0],
                   2: [0, 0, 0, 0, 1],
                   3: [0, 1, 1, 1, 0],
                   4: [1, 0, 1, 0, 1],
                   5: [0, 0, 1, 1, 0]})
df

   0  1  2  3  4  5
0  0  1  0  0  1  0
1  1  1  0  1  0  0
2  1  0  0  1  1  1
3  0  1  0  1  0  1
4  1  0  1  0  1  0

In [4]:
df.iloc[:, 3:].values[:3]

array([[0, 1, 0],
       [1, 0, 0],
       [1, 1, 1]], dtype=int64)

In [8]:
y = df.iloc[:, 3:].values[:5]

In [9]:
y

array([[0, 1, 0],
       [1, 0, 0],
       [1, 1, 1],
       [1, 0, 1],
       [0, 1, 0]], dtype=int64)